<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <br>
    <br>
    <h2>在线视频</h2>
    <!--<img src="{% url 'video_feed' %} " height="300" width="300">-->
    <!--<img src="http://localhost:8000/video/feed/" height="300" width="300">-->
    <video id="video" width="640" height="480" autoplay></video>
    <button id="snap">Snap Photo</button>
    <canvas id="canvas" width="640" height="480"></canvas>
    <h2>按钮模拟拍照</h2>

    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/room/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data);
            document.querySelector('#chat-log').value += (data.user + ':' + data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };


        var aVideo = document.getElementById('video');
        var aCanvas = document.getElementById('canvas');
        var ctx = aCanvas.getContext('2d');


        navigator.getUserMedia = navigator.getUserMedia ||
        navigator.webkitGetUserMedia ||
        navigator.mozGetUserMedia ||
        navigator.msGetUserMedia; //获取媒体对象（这里指摄像头）
        navigator.getUserMedia({
            video: true
        }, gotStream, noStream); //参数1获取用户打开权限；参数二成功打开后调用，并传一个视频流对象，参数三打开失败后调用，传错误信息

        function gotStream(stream) {
            video.src = window.URL.createObjectURL(stream);
            video.onerror = function() {
                stream.stop();
            };
            stream.onended = noStream;
            video.onloadedmetadata = function() {
                alert('摄像头成功打开！');
            };
        }

        function noStream(err) {
            alert(err);
        }

        document.getElementById("snap").addEventListener("click", function() {
            ctx.drawImage(aVideo, 0, 0, 640, 480); //将获取视频绘制在画布上
        });

    </script>
</body>
</html>